.inputoption {
display: flex;
align-items: center;
margin-top: 15px;
padding: 5px;
cursor: pointer;


}

.inputoption:hover {

background-color: whitesmoke;
border-radius: 10px;

}

.inputoption > h4 {

    margin-left: 5px;
}